.bg-image {
  background-size: cover;
  background-image: url("images/background2.png");
 }
.mew2{
  width: 400px;
  height: 175px;
  padding-right: 200px;
}
.starters{
  width: 400px;
  height: 175px;
  align-items: flex-end;
}

.pokeName{
  color: white;
}
.pbColor{
  background-color: green;
  color: green;
}
.mewButts{
  background-color: rgb(255, 100, 234);
  color: white;
}